<form class="" action="/cohorts" method="post">
<input type="text" name="name" placeholder="name"><br>
<input type="number" name="course_id" placeholder="Course ID"><br>
<input type="date" name="startDate" placeholder="Start Date"><br>
<input type="date" name="endDate" placeholder="End Date"><br>
<p>
<input type="submit" name="submit" value="Submit"><br>
</p>
</form>
