<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Panel Node</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/new-cohort">Create Cohort</a></li>
      <li><a href="/new-course">Create a Course</a></li>
    </ul>
<h1>Admin Panel</h1>
  </body>
</html>
