<form class="" action="/users" method="post">
  <input type="text" name="name" value="" placeholder="name"><br>
  <input type="email" name="email" value="" placeholder="email"><br>
  <input type="password" name="password" value="" placeholder="password"><br>
  <label for="">Highest education completed</label> <br>
  <input type="radio" name="education" value="1"> High School<br>
  <input type="radio" name="education" value="2"> BS<br>
  <input type="radio" name="education" value="3"> Masters<br>
  <input type="radio" name="education" value="4"> PhD<br>
  <p>
    <input type="submit" name="submit" value="Submit">
  </p>
</form>
